In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Updating the path to include more of the folder path to make our later code cleaner
path = r"C:\Users\jphar\Instacart Basket Analysis 09-2025\02 Data"

In [3]:
df_prods = pd.read_csv(os.path.join(path, "Original Data", "4.3_orders_products", "products.csv"), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, "Prepared Data", "orders_wrangled.csv"), index_col = False)

In [5]:
df_ords.head(10)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0
5,5,3367565,1,6,2,7,19.0
6,6,550135,1,7,1,9,20.0
7,7,3108588,1,8,1,14,14.0
8,8,2295261,1,9,1,16,0.0
9,9,2550362,1,10,4,8,30.0

In [6]:
df_ords.shape

(3421083, 7)

In [7]:
# Create a dataframe

df_test = pd.DataFrame()

In [8]:
# Create a mixed type field

df_test['mix'] = ['a', 'b', 1, True]

In [9]:
# Check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\jphar\AppData\Local\Temp\ipykernel_9148\1522843687.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [10]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [11]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [12]:
df_nan.head()

     product_id product_name  aisle_id  department_id  prices
33           34          NaN       121             14    12.2
68           69          NaN        26              7    11.8
115         116          NaN        93              3    10.8
261         262          NaN       110             13    12.1
525         525          NaN       109             11     1.2

In [13]:
df_prods.shape

(49693, 5)

In [14]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [15]:
df_prods_clean.shape

(49677, 5)

In [16]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [17]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [18]:
df_prods_clean.shape

(49677, 5)

In [19]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [20]:
df_prods_clean_no_dups.shape

(49672, 5)

df_prods_clean_no_dups.to_csv(os.path.join(path, 'Prepared Data', 'products_processed'))