# Importing Libraries and orders_products_prior into Python

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Updating the path to include more of the folder path to make our later code cleaner
path = r"C:\Users\jphar\Instacart Basket Analysis 09-2025\02 Data"

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, "Original Data", "orders_products_prior.csv"), index_col = False)

In [5]:
df_ords = pd.read_csv(os.path.join(path, "Prepared Data", "orders_processed.csv"), index_col = False)

In [6]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [7]:
df_ords_prior.shape

(32434489, 4)

# Merging df_ords to df_ords_prior

In [8]:
df_ords.shape

(3421083, 9)

In [9]:
df_merged_large = df_ords.merge(df_ords_prior, on = "order_id", indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered_of_day,days_since_prior_order,first_time_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,Yes,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,Yes,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,Yes,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,Yes,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,Yes,26405,5,0,both

In [11]:
df_merged_large["_merge"].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Testing Merge Rate with Outer Join

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = "order_id", indicator = True, how = "outer")

In [13]:
df_merged_large["_merge"].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [14]:
# Due to the instructions, we'll only consider full match data (i.e., inner joins)

df_merged_large = df_ords.merge(df_ords_prior, on = "order_id", indicator = True)

# Exporting Merged Dataset

In [15]:
df_merged_large.to_pickle(os.path.join(path, "Prepared Data", "orders_products_combined.pkl"))

# Merging orders_products_combined with products Dataset