In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Updating the path to include more of the folder path to make our later code cleaner
path = r"C:\Users\jphar\Instacart Basket Analysis 09-2025\02 Data"

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, "Prepared Data", "ords_prods_merge_derivations.pkl"))

In [5]:
df = ords_prods_merge[:1000000]

In [6]:
#Verifying the number of rows retrieved from ords_prods_merge

df.shape

(1000000, 19)

In [7]:
df.groupby('product_name')

In [8]:
# calculates the average orders by department

df.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [9]:
# A rewrite of our prior code that calculates the average orders by department

df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [10]:
# returns the mean, min, and max value of orders per department

df.groupby('department_id').agg({'order_number' :['mean','min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

In [11]:
# creates a new field called max_order in our main dataframe that calculates the max order value per user

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\jphar\AppData\Local\Temp\ipykernel_8288\1699939347.py:3: FutureWarning: The provided callable <function max at 0x000001376705AAC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
# verifying some of the values

ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,hour_ordered_of_day,days_since_prior_order,first_time_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_category,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,Yes,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regular busy,Regular day,Average orders,10
1,2539329,1,1,2,8,NaN,Yes,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regular busy,Regular day,Average orders,10
2,2539329,1,1,2,8,NaN,Yes,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regular busy,Regular day,Average orders,10
3,2539329,1,1,2,8,NaN,Yes,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regular busy,Regular day,Average orders,10
4,2539329,1,1,2,8,NaN,Yes,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regular busy,Regular day,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,No,21150,13,0,both,Fire Grilled Steak Bowl,38,1,5.9,Mid-range product,Regular busy,Regular day,Most orders,14
96,1673511,2,5,3,11,8.0,No,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,Mid-range product,Regular busy,Slowest days,Most orders,14
97,1673511,2,5,3,11,8.0,No,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,Low-range product,Regular busy,Slowest days,Most orders,14
98,1673511,2,5,3,11,8.0,No,17224,3,0,both,Oats & Honey Gluten Free Granola,3,19,1.6,Low-range product,Regular busy,Slowest days,Most orders,14
99,1673511,2,5,3,11,8.0,No,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,Low-range product,Regular busy,Slowest days,Most orders,14

In [13]:
# This is helpful for verifying that our groupby() is working correctly

ords_prods_merge['max_order'].value_counts()

max_order
99    1171333
8      811843
6      811396
9      810213
7      803979
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [14]:
pd.options.display.max_rows = None

In [15]:
# Setting up our conditions to create a new field loyalty_flag that's derived from the recently created max_order field 

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# Verifying the groupby() is working correctly and has values in each category

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [17]:
# Verifying some of the values to see how it appears in the dataframe and if expected

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

# Task Responses

### 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [18]:
# To complete, we'll leverage the groupby() that will take on the department_id as its argument.
# followed by agg() that will aggregate the order_numbers to find their respective means by department

ords_prods_merge.groupby('department_id').agg({'order_number' :['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

As expected, with more data we would see a bit of variation when it comes to average of the order number by department for the entire dataframe versus a subset. Relatively, the spread of difference if we compare directly would be from -1.117 to 1.058, which ends up being a percentage change spread of 6.88% to -6.79%.

To put this into perspective, the department with the biggest positive change would be department 6 (6.88%, International) while the largest negative change would be department 8 (-6.79%, Pets)

### 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

Please refer to cells 9 and 14 which show the creation of the loyalty_flag field

### 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [19]:
# This follows the same idea with calculation in problem 2 but switching out the group by and aggregation field to loyalty_flag and prices respectively
# We'll include min and max in our list for what the agg() should calculate

ords_prods_merge.groupby('loyalty_flag').agg({'prices' :['mean','min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
- #### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
- #### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [20]:
# First we'll need to create a field that will hold the average price of orders by user

ords_prods_merge['avg_order_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\jphar\AppData\Local\Temp\ipykernel_8288\2056859173.py:3: FutureWarning: The provided callable <function mean at 0x000001376705B4C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_order_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
# With this in place, we can derive from the avg_order_price field flags for high and low spenders

ords_prods_merge.loc[ords_prods_merge['avg_order_price'] < 10, 'spender_type'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_order_price'] >= 10, 'spender_type'] = 'High spender'

In [22]:
# Verifying the groupby() is working correctly and has values in each category

ords_prods_merge['spender_type'].value_counts()

spender_type
Low spender     31770614
High spender      634245
Name: count, dtype: int64

### 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
- #### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- #### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- #### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [23]:
ords_prods_merge['median_days_prior']= ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\jphar\AppData\Local\Temp\ipykernel_8288\1264138267.py:1: FutureWarning: The provided callable <function median at 0x00000137671B2A20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_prior']= ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [25]:
# Next we'll set up our conditions based on the prompt. We'll name the field order_frequency

ords_prods_merge.loc[ords_prods_merge['median_days_prior'] > 10, 'order_frequency'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_prior'] > 10) & (ords_prods_merge['median_days_prior'] <= 20), 'order_frequency'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_prior'] <= 10, 'order_frequency']   = 'Frequent customer'

In [26]:
# Verifying the groupby() is working correctly and has values in each category

ords_prods_merge['order_frequency'].value_counts()

order_frequency
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
Name: count, dtype: int64

In [29]:
# Need to update file name

ords_prods_merge.to_pickle(os.path.join(path, "Prepared Data", "ords_prods_merge_aggregate.pkl"))

# Data Cleaning Completed from Exercise 4.9

In [28]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 100, 'prices'] = np.nan