In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 01. Exercise Content

In [3]:
# Updating the path to include more of the folder path to make our later code cleaner
path = r"C:\Users\jphar\Instacart Basket Analysis 09-2025\02 Data"

In [4]:
df_ords = pd.read_csv(os.path.join(path, "Original Data", "orders.csv"), index_col = False)

In [5]:
df_prods = pd.read_csv(os.path.join(path, "Original Data", "products.csv"), index_col = False)

In [6]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [7]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [8]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [9]:
df_ords

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [10]:
df_ords.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [11]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [12]:
df_ords.dtypes

order_id                   object
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [13]:
df_ords["order_id"].dtype

dtype('O')

In [14]:
df_ords.dtypes

order_id                   object
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [15]:
df_dep = pd.read_csv(os.path.join(path,"Original Data", "departments.csv"), index_col = False)

In [16]:
df_dep = df_dep.T

In [17]:
df_dep.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [18]:
df_dep

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [19]:
new_header = df_dep.iloc[0]

In [20]:
new_header

0    department
Name: department_id, dtype: object

In [21]:
df_dep_new = df_dep[1:]

In [22]:
df_dep_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [23]:
df_dep_new.columns = new_header

In [24]:
df_dep_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [28]:
data_dict = df_dep_new.to_dict('index')

In [30]:
df_dep_new.to_clipboard()

In [ ]:
df_prods.head()

In [ ]:
print(data_dict.get('19'))

In [ ]:
df_prods['department_id']==19

In [ ]:
df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks = df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

# 02. Task Content

## Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.

In [ ]:
df_ords['user_id'] = df_ords['user_id'].astype('str')

## Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.

In [ ]:
df_ords

In [ ]:
df_ords.rename(columns = {'order_hour_of_day' : 'hour_ordered_of_day'}, inplace = True)

In [ ]:
df_ords

## Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.

In [ ]:
df_ords['hour_ordered_of_day'].value_counts()

# Based on our calculation we can see that 10 am is the busiest hour of the day

## Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [ ]:
print(data_dict.get('4'))

# With an department_id of 4 we see that is the produce department

## The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [ ]:
df_breakfast = df_prods.loc[df_prods['department_id'].isin([14])]

# Breakfast department_id is 14

In [ ]:
df_breakfast

## They’d also like to see details about products that customers might use to throw dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [ ]:
# I reviewed the department dataframe made to determine the ids needed for creating the subset: Alcohol (5), Deli (20), Beverages(7), Meat/Seafood(12)

df_combined = df_prods.loc[df_prods['department_id'].isin([5,7, 12, 20])]

In [ ]:
df_combined

## It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?

In [ ]:
# for df_combined it has 7650 rows

## Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [ ]:
df_user = df_ords[df_ords['user_id'] == '1']

In [ ]:
df_user

## You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?

In [ ]:
# We can leverage the describe() function to calculation the count, average, min/min, median, and other statistics about this user

df_user.describe()

df_ords.to_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'))

df_dep_new.to_csv(os.path.join(path, 'Prepared Data', 'departments_wrangled.csv'))

In [ ]:
df_ords.head(10)

In [ ]:
df_ords.shape

In [ ]:
df_prods.isnull().sum()

In [ ]:
df_dups